@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap");
body {
  background-color: #ffffff;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img_wrapper {
  background-size: cover !important;
  background-position: 50% 50% !important;
  overflow: hidden;
  background-repeat: no-repeat !important;
}

.top-nav {
  background: #00A2B1;
  color: white;
}

.top-nav a {
  display: block;
  color: #00A2B1;
  padding: 6px;
  margin: 8px;
  background: #F2FBFC;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 0.5px solid #00A2B1;
}

.top-nav a:hover {
  color: white;
  background: #00A2B1;
  border: 0.5px solid white;
}

.top-nav i {
  padding: 10px;
}

.top-nav span {
  font-size: 14px;
  color: lightblue;
}

.application_popup {
  overflow: visible;
  background: #00A2B1;
}

.application_popup form {
  width: 100%;
  padding: 20px;
}

.application_popup form label {
  color: #00A2B1;
  font-size: 19px;
}

.application_popup form button {
  color: white;
  background: #00A2B1;
  margin: 20px;
}

.application_popup form input[type="text"], .application_popup form input[type="email"], .application_popup form textarea {
  border: none;
  color: #00A2B1;
  border-bottom: 1px solid #00A2B1;
}

.application_popup form input::-webkit-input-placeholder, .application_popup form textarea::-webkit-input-placeholder {
  color: #00A2B1;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input:-ms-input-placeholder, .application_popup form textarea:-ms-input-placeholder {
  color: #00A2B1;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input::-ms-input-placeholder, .application_popup form textarea::-ms-input-placeholder {
  color: #00A2B1;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input::placeholder, .application_popup form textarea::placeholder {
  color: #00A2B1;
  font-size: 14px;
  opacity: 0.5;
}

nav .navbar-toggler {
  background: #F0EFDA;
}

nav .navbar-brand {
  width: 23%;
}

nav .navbar-brand img {
  width: 70%;
}

nav .nav-item {
  margin: 0 20px;
  font-size: 15px;
  font-weight: lighter;
}

nav .nav-link {
  color: #00A2B1 !important;
}

nav .effect::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #00A2B1;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav .effect:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.head_slider .slider {
  overflow: hidden;
}

.head_slider .slider .one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/c1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/c1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  outline: none;
}

.head_slider .slider .two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/c2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/c2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  outline: none;
}

.head_slider .slider .three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/c3.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/c3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  outline: none;
}

.head_slider .slider .slick-dots {
  position: absolute;
  top: 0;
  right: -280px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  z-index: 2;
}

.head_slider .slider .slick-dots li {
  margin: 0 0.25rem;
  border: 1px solid #00A2B1;
  border-radius: 50%;
}

.head_slider .slider .slick-dots button {
  z-index: 2;
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  text-indent: -9999px;
}

.head_slider .slider .slick-dots li.slick-active button {
  background-color: #00A2B1;
}

.head_slider .slider h1 {
  font-size: 60px;
  font-weight: bolder;
}

.head_slider .slider .text {
  position: relative;
  top: 50%;
  left: 15%;
  color: white;
}

.head_slider .slider .text:before {
  content: '';
  width: 70px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #00A2B1;
}

.head_slider .slider h2 {
  font-size: 50px;
}

.head_slider .slider .sub-text {
  position: absolute;
  color: #00A2B1;
  top: 61%;
  left: 15%;
}

.head_slider .slider a {
  position: absolute;
  top: 75%;
  left: 15%;
  background: #F2FBFC;
  color: #00A2B1;
  padding: 10px 30px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.head_slider .slider a:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 162, 177, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-130px) skewX(-15deg);
          transform: translateX(-130px) skewX(-15deg);
}

.head_slider .slider a:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 162, 177, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) scaleX(-15deg);
          transform: translateX(-100px) scaleX(-15deg);
}

.head_slider .slider a:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.head_slider .slider a:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.head_slider .slider a:hover {
  background: #00A2B1;
  color: white;
}

.head_slider .slider:after {
  background: white;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
  right: -5%;
  top: 100%;
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.top_intro {
  margin-bottom: 50px;
}

.top_intro h1 {
  color: #00A2B1;
  border-bottom: 1px solid #00A2B1;
  padding-bottom: 30px;
}

.top_intro .box-1 {
  position: relative;
  padding: 20px;
}

.top_intro .logo {
  position: absolute;
  bottom: 10px;
  height: 40px;
  width: 40px;
}

.top_intro .logo img {
  width: 100%;
}

.top_intro .box-2 {
  padding: 10px;
  text-align: center;
}

.top_intro p {
  color: grey;
}

.service {
  background: rgba(0, 162, 177, 0.2);
  border-top-left-radius: 100%;
  padding-top: 20px;
}

.service a {
  padding: 10px 30px;
  background: #00A2B1;
  border: 0.2px solid #00A2B1;
  color: white;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.service a:hover {
  background: white;
  color: #00A2B1;
}

.service .title h1 {
  color: #00A2B1;
  font-weight: bolder;
  position: relative;
}

.service .title h1:before {
  width: 50px;
  height: 5px;
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
  background: #00A2B1;
}

.service .title p {
  color: gray;
}

.service .service_box {
  position: relative;
  margin: 15px;
  -webkit-transition: 1s ease !important;
  transition: 1s ease !important;
}

.service .img_wrapper {
  height: 220px;
}

.service .service_title {
  background: rgba(0, 162, 177, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bolder;
  -webkit-transition: 1s ease !important;
  transition: 1s ease !important;
  opacity: 1;
}

.service .service_content {
  opacity: 0;
  text-align: center;
  padding: 20px;
  background: rgba(0, 162, 177, 0.7);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 1s ease !important;
  transition: 1s ease !important;
}

.service .service_content h6 {
  border-bottom: 0.5px solid white;
  padding: 10px;
}

.service .service_content p {
  font-size: 14px;
}

.service .service_content a {
  font-size: 12px;
  color: #00A2B1;
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.service .service_content a:hover {
  color: white;
  background: #00A2B1;
}

.service .service_box:hover .service_title {
  opacity: 0;
}

.service .service_box:hover .service_content {
  opacity: 1;
}

.country {
  padding: 30px;
  padding-bottom: 80px;
  position: relative;
  background: rgba(0, 162, 177, 0.2);
  overflow: hidden;
}

.country .img_wrapper {
  height: 500px;
  opacity: 0.2;
}

.country .country_top {
  position: relative;
  padding: 20px;
}

.country .logo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 40px;
  width: 40px;
}

.country .logo img {
  width: 100%;
}

.country .country_wrap {
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.country .country_wrap h1, .country .country_wrap p {
  color: #00A2B1;
  font-weight: bolder;
  padding: 20px;
}

.country .country_wrap p {
  color: gray;
}

.country .country_wrap h1 {
  border-bottom: 0.5px solid #00A2B1;
}

.country .country_wrap .country-slider {
  height: auto;
}

.country .country_wrap .country-slider img {
  width: 100%;
}

.country .country_wrap .japan {
  background: url(../img/japan.jpg);
}

.country .country_wrap .uk {
  background: url(../img/uk.jpg);
}

.country .country_wrap .usa {
  background: url(../img/usa.jpg);
}

.country .country_wrap .canada {
  background: url(../img/canada.jpg);
}

.country .country_wrap .aust {
  background: url(../img/aust.jpg);
}

.country .country_wrap .newz {
  background: url(../img/newz.jpg);
}

.country .country_wrap .box {
  height: 260px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.country .owl-carousel {
  position: relative;
}

.country .owl-nav {
  margin: 0px;
}

.country .owl-carousel .owl-nav button.owl-next {
  font-size: 50px;
  position: absolute;
  background: rgba(0, 162, 177, 0.5);
  color: white;
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px !important;
}

.country .owl-carousel .owl-nav button.owl-prev {
  font-size: 50px;
  position: absolute;
  background: rgba(0, 162, 177, 0.5);
  color: white;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px !important;
}

.country .country_name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.country .country_name a {
  background: white;
  color: #00A2B1;
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 14px;
  border: 0.5px solid #00A2B1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.country .country_name a:hover {
  background: #00A2B1;
  color: white;
}

.country .box:hover .country_name {
  bottom: 50%;
}

.country::after {
  content: "";
  height: 120px;
  background: white;
  position: absolute;
  bottom: -45px;
  left: -5px;
  right: -5px;
  -webkit-transform: rotateZ(-4deg);
          transform: rotateZ(-4deg);
}

.counter {
  padding: 0 30px;
  color: #00A2B1;
  text-align: center;
}

.counter .counter_top_wrap {
  position: relative;
  padding: 20px;
}

.counter .counter_top_wrap p {
  color: #00A2B1;
  border-bottom: 1px solid #00A2B1;
  padding-bottom: 30px;
}

.counter .counter_top_wrap .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 58%;
  height: 40px;
  width: 40px;
}

.counter .counter_top_wrap .logo img {
  width: 100%;
}

.counter .count_wrap {
  text-align: center;
}

.counter .count_box {
  background: #00A2B1;
  padding: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
}

.counter .count {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.counter .rightborder {
  border-right: 1px solid #00A2B1;
}

.counter h6 {
  padding: 10px;
}

.testimonials {
  background: url(../img/TestimonialsBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.testimonials .row {
  height: 100vh;
}

.testimonials .testimonials_top {
  margin-top: 150px;
  margin-left: 50px;
}

.testimonials .testimonials_top h1 {
  color: #00A2B1;
  font-weight: bolder;
  position: relative;
}

.testimonials .testimonials_top h1:before {
  width: 50px;
  height: 5px;
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
  background: #00A2B1;
}

.testimonials .owl-carousel {
  position: relative;
}

.testimonials .owl-nav {
  margin: 0px;
}

.testimonials .owl-carousel .owl-nav button.owl-next {
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  background: white;
  color: rgba(0, 162, 177, 0.5);
  right: -40px;
  bottom: 90px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px !important;
}

.testimonials .owl-carousel .owl-nav button.owl-prev {
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  background: white;
  color: rgba(0, 162, 177, 0.5);
  left: -40px;
  bottom: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px !important;
}

.testimonials .item {
  background: rgba(245, 245, 245, 0.4);
  border-radius: 5px;
  padding: 0 30px;
}

.testimonials .item .image {
  padding: 5px;
}

.testimonials .item .image img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials .item .info {
  padding: 20px;
}

.testimonials .item .info h5 {
  font-weight: bolder;
  color: gray;
}

.testimonials .item .info p {
  margin: 0;
  color: gray;
}

.testimonials .words p {
  font-size: 15px;
  color: gray;
  padding: 20px;
}

.testimonials .words .fas {
  font-size: 20px;
  padding: 5px;
}

.testimonials .comment_bg {
  position: absolute;
  width: 90%;
  height: 90%;
  opacity: 0.1;
  font-size: 300px;
}

.news {
  margin-top: 50px;
  padding: 30px;
}

.news .img_wrapper {
  height: 200px;
}

.news .news_item {
  height: 420px;
  position: relative;
}

.news .owl-carousel .owl-nav button.owl-next, .news .owl-carousel .owl-nav button.owl-prev {
  display: none;
}

.news .news_top h1 {
  color: #00A2B1;
  font-weight: bolder;
  position: relative;
}

.news .news_top h1:before {
  width: 50px;
  height: 5px;
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
  background: #00A2B1;
}

.news .news_top p {
  color: gray;
}

.news h4 {
  color: #00A2B1;
}

.news p {
  color: gray;
}

.news a {
  background: #00A2B1;
  padding: 5px 30px;
  color: white;
  border-radius: 5px;
  border: 0.5px solid #00A2B1;
}

.news a:hover {
  color: #00A2B1;
  background: white;
}

.news .date {
  position: absolute;
  top: 34.4%;
}

.news .date span {
  background: #00A2B1;
  color: white;
  padding: 5px;
}

.university_partners h1 {
  color: #00A2B1;
  border-bottom: 1px solid #00A2B1;
  padding-bottom: 30px;
}

.university_partners .university_top {
  position: relative;
  padding: 20px;
}

.university_partners p {
  color: gray;
  padding: 20px;
}

.university_partners .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 37%;
  height: 40px;
  width: 40px;
}

.university_partners .logo img {
  width: 100%;
}

.university_partners #university_carousel .img_wrapper {
  height: 200px;
}

.class {
  color: black;
  overflow: hidden;
}

.class h1 {
  color: #00A2B1;
  border-bottom: 1px solid #00A2B1;
  padding-bottom: 30px;
}

.class h3 {
  color: white;
}

.class .container {
  height: auto;
}

.class .class_title {
  position: relative;
  padding: 20px;
}

.class .class_title .logo {
  position: absolute;
  bottom: 10px;
  height: 40px;
  width: 40px;
}

.class .class_title .logo img {
  width: 100%;
}

.class .item {
  height: 400px;
}

.class .item .img_wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/preparation.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/preparation.png);
  height: 60%;
}

.class .item .class_title {
  position: relative;
}

.class .item .class_title::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -5px;
  right: -5px;
  background: white;
  height: 80px;
  -webkit-transform: rotateZ(-4deg);
          transform: rotateZ(-4deg);
}

.class .item .class_text {
  background: rgba(0, 162, 177, 0.7);
  padding: 20px;
}

.class .item .class_text p {
  color: white;
  font-size: 15px;
}

.class .item .class_text a {
  background: white;
  padding: 5px 10px;
  font-size: 12px;
  margin: 5px;
  border-radius: 20px;
}

.class .owl-carousel .owl-nav button.owl-next, .class .owl-carousel .owl-nav button.owl-prev {
  display: none;
}
/*# sourceMappingURL=custom.css.map */